<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

    <style>
        .wrapper {
            padding: 20px;
            height: 300px;
            position: absolute;
            top:50%;
            margin-top: -150px;
            background-color: rgb(124, 122, 136);
        }

        .middle {
            width: 400px;
            height: 300px;
            background-color: rgb(78, 78, 114);
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="middle">
        </div>
    </div>

</body>

</html>